
/* Custom home page styles */

#hero {
    position: relative;
    background: #001a2a;
    border-radius: 15px;
    overflow: hidden;
    height: 90vh;
    z-index: 0;
}

#hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('../images/profile_long.webp');
    background-size: cover;
    background-position: bottom;
    opacity: 0.90;
    z-index: -1; /* Ensure the background is behind the content */
}

#hero #hello-text {
    padding-top: 35vh;
    padding-left: 55%;
    padding-right: 4%;
    max-width: 500px;
}

#hero .hamburger-nav-menu-homepage {
    position: absolute;
    top: 25px;
    right: 20px;
    z-index: 2; /* Ensure the hamburger menu is above the background */
}

#hero #hello-text h1 {
    font-size: 2rem;
}

#hero #hello-text #smallHey {
    font-size: 1.3rem;
}

#hero #hello-text p {
    margin: 0;
    padding: 0;
}

/* hero */
/* Tablets and smaller devices */
@media (max-width: 768px) {
    #hero {
        margin: 20px auto;
        height: 85vh;
    }

    #hero #hello-text {
        padding: 10px 20px;
        max-width: 500px;
    }

    #hero #hello-text h1 {
        font-size: 1.8rem;
    }
    
    #hero #hello-text #smallHey {
        font-size: 1.1rem;
    }
    
    #hero #hello-text p {
        margin: 0;
        padding: 0;
    }
}

/* Container for the social buttons */
#hero .social-buttons {
    display: flex;
    gap: 15px;
}

/* Individual button styling */
#hero .social-buttons a {
    margin-top: 10px;
    color: #fff;  /* White icons */
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    transition: transform 0.3s ease;
}

#hero .social-buttons a:hover {
    transform: scale(1.1);
}

#hero .social-buttons svg {
    width: 22px;
    height: 22px;
}

#navigation-menu .privacy-policy-link {
    color: #ffffff91;
}

main-page {
    min-height: 90vh;
}

/* footer nav menu for mobile */
@media (max-width: 768px) {
    #same-line-content {
        display: block;
        padding: 0px 0;
        margin: 0 8px;
    }

    #same-line-content #navigation-menu ul {
        margin: 0px;
        display: flex;
        flex-direction: column;
        gap: 15px;
        align-items: baseline;
    }

    #same-line-content #copyright {
        margin: 0;
        padding: 40px 0;
    }
}