@font-face {
    font-family: 'Geologica';
    src: url('../fonts/Geologica/Geologica-VariableFont_CRSV,SHRP,slnt,wght.ttf') format('truetype');
    font-weight: 100 900; /* Supports a range of weights */
    font-style: normal;
}

body {
    background-color: #00111c;
    color: #ffffff;
    font-family: 'Geologica', sans-serif;
    margin: 0;
    padding: 4vh 7vw 0;
}

body a {
    color: #f4c542;
}

main {
    min-height: 90vh;
}

header #hello-text h1 {
    font-size: 2rem;
}

header #hello-text #smallHey {
    font-size: 1.3rem;
}

/* Navigation menu */

#navigation-menu ul {
    list-style: none;
    padding: 0;
    margin: 10px 0;
    display: flex;
    gap: 30px; /* Adjust the gap as needed */
}
  
#navigation-menu ul li {
    display: inline;
}
  
#navigation-menu ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: lighter;
}

#navigation-menu ul li a.active-nav-link {
    color: #f4c542;
    text-decoration: underline;
}

#navigation-menu ul li a:hover {
    color: #f4c542;
}

/* about me photo div */

.defualt-page-format-banner{
    margin-top: 4vh;
    position: relative;
    background: #001a2a;
    border-radius: 15px;
    overflow: hidden;
    height: 70vh;
    z-index: 0;
}

.defualt-page-format-banner::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('../images/lost_page.jpg');
    background-size: cover;
    background-position: center;
    opacity: 0.75;
    z-index: -1; /* Ensure the background is behind the content */
}

#about-me-photo::before {
    background-image: url('../images/about_me.jpg');
}

.defualt-page-format-banner #content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 3rem;
}

/* About me main content */

.defualt-page-format-main-content {
    margin: 8vh 7vw 15vh;
    font-weight: thinner;
}

/* footer */

footer {
    background: #001a2a;
    margin: 0 -7vw;
    padding: 5px 7vw;
}

#same-line-content {
    display: flex;
    justify-content: space-between; /* Creates space between the nav and the copyright text */
    align-items: center; /* Vertically centers both elements */
}

/* copyright text */

#same-line-content #copyright {
    margin: 0;
    color: #ffffff91;
    font-size: 0.8rem;
    font-weight: lighter;
}